@font-face {
	font-family: 'Google Sans';
	src: url("../fonts/GoogleSans-Regular-v1.27.ttf");
}

body {
	margin: 0;
}

/**************************************** NAVBAR and HERO *******************************************/

.navBar{
	border-bottom: 1px solid #EAEAEA;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 30px;
}

.dscCropped{
	display: none;
}

.visitUs{
	background-color: #4285f4;
	border-radius: 5px;
	border-style: none;
	width: 128px;
	height: 40px;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	padding: 8px;
	cursor: pointer;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
}

.visitUs:hover {
	background-color: #ffffff;
	border: 1px solid #4285f4;
	color: #4285f4;
}

.heroContainer{
	padding: 60px 190px;
	align-items: center;
	font-family: 'Google Sans', sans-serif;
	display: flex;
	justify-content: center;
}

.hero{
	width: 600px;
}

.devcastHeader{
	font-weight: 500;
	font-size: 39.06px;
}

.heroDescription{
	font-size: 20px;
	line-height: 28px;
}

.podcastIcons:first-child{
	padding-left: 0;
}

.podcastIcons{
	padding: 20px 10px 0 10px;
}

@media screen and (max-width: 1330px){
	.heroContainer{
		display: block;
	}

	.hero, .heroImg img{
		display: block;
		margin: 0 auto;
	}

	.hero{
		width: 100%;
	}

	.heroImg img{
		padding: 20px 0;
	}
}

@media screen and (max-width:905px){
	.heroContainer{
		padding: 60px 100px;
	}
}

@media screen and (max-width: 620px){
	.heroImg img{
		max-width: 100%;
	}
}

@media screen and (max-width: 556px){
	.podcastIcons{
		display: block;
		margin: 0 auto;
	}

	.dscLogo{
		display: none;
	}

	.dscCropped{
		display: block;
		width: 50px;
	}

	.visitUs{
		width: 90px;
		height: 35px;
		font-size: 14px;
	}
}

@media screen and (max-width: 425px){
	.heroContainer{
		padding: 60px 50px;
	}
}

@media screen and (max-width: 375px){
	.navBar{
		padding: 10px 15px;
	}

	.heroContainer{
		padding: 60px 40px;
	}
}

/******************************************** EPISODE ***********************************************/
/*default for 1440px*/
.midsection-episode {
	background: #f8f8f8;
	font-family: 'Google Sans', sans-serif;
	padding: 50px;
}

.midsection-episode h3 {
	margin-left: 11%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.episode-cont {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}

.ep-boxes {
	position: relative;
	cursor: pointer;
	display: inline-flex;
	flex-basis: 40%;
	flex-grow: 0;
	max-width: 516px;
	height: auto;
	margin: 10px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 4px 2px -2px #e0e0e0;
}

.ep-boxes img {
	max-width: 128px;
	max-height: 128px;
	padding: 6px;
	border-radius: 9px;
}

.ep-text {
	margin-top: 0px;
	margin-left: 5px;
	max-width: 285px;
}

.ep-text h4 {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 16px;
	line-height: 20px;
}

.ep-text span {
	max-width: 450px;
	color: #878787;
	font-size: 12px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.ep-boxes a {
	margin-top: 120px;
	margin-bottom: 10px;
	margin-right: 8px;
	margin-left: 5px;
	color: #4285f4;
	font-size: 13px;
	text-decoration: none;
}

/* <=325px (320px) */
@media (max-width: 326px) {
	
	.midsection-episode h3 {
		margin-left: -5%;
		font-size: 16px;
	}
	
	.episode-cont {
		display: grid;
	}
	
	.ep-boxes {
		width: 250px;
		min-height: 200px;
	}
	
	.ep-boxes img {
		max-width: 90px;
		max-height: 90px;
	
	}
	
	.ep-text h4 {
		font-size: 13px;
		width: 138px;
		height: 98px;
		line-height: 15px;
	}
	
	.ep-text span {
		position: absolute;
		left: 0;
		margin-left: 10px;
		width: 230px;
	}
	
	.ep-boxes a {
		position: absolute;
		margin-top: 170px;
		margin-left: 165px;
	}
}

/* 325-379px (375px) */
@media (min-width: 326px) and (max-width: 380px) {
	
	.midsection-episode h3 {
		margin-left: -3%;
		font-size: 18px;
	}
	
	.episode-cont {
		display: grid;
	}
	
	.ep-boxes {
		width: 300px;
		min-height: 210px;
	}
	
	.ep-boxes img {
		max-width: 100px;
		max-height: 100px;
	}
	
	.ep-text h4 {
		font-size: 14px;
		width: 170px;
		height: 100px;
		line-height: 17px;
	}
	
	.ep-text span {
		position: absolute;
		left: 0;
		margin-top: 5px;
		margin-left: 10px;
		width: 280px;
		font-size: 13px;
	}
	
	.ep-boxes a {
		position: absolute;
		margin-top: 180px;
		margin-left: 210px;
	}
}

/* 381-449px (425px) */
@media (min-width: 381px) and (max-width: 450px) {
	
	.midsection-episode h3 {
		margin-left: 1%;
		font-size: 19px;
	}
	
	.episode-cont {
		display: grid;
	}
	
	.ep-boxes {
		width: 320px;
		min-height: 220px;
	}
	
	.ep-boxes img {
		max-width: 108px;
		max-height: 108px;
	}
	
	.ep-text h4 {
		font-size: 16px;
		width: 170px;
		height: 100px;
		line-height: 17px;
	}
	
	.ep-text span {
		position: absolute;
		left: 0;
		margin-top: 13px;
		margin-left: 10px;
		width: 280px;
		font-size: 14px;
	}
	
	.ep-boxes a {
		position: absolute;
		margin-top: 190px;
		margin-left: 225px;
		font-size: 14px;
	}
}

/* 450-510px (460px) */
@media (min-width: 450px) and (max-width: 511px) {
	
	.midsection-episode h3 {
		margin-left: -5%;
		font-size: 20px;
	}
	
	.episode-cont {
		display: grid;
	}
	
	.ep-boxes {
		width: 400px;
		min-height: 220px;
	}
	
	.ep-boxes img {
		max-width: 108px;
		max-height: 108px;
	}
	
	.ep-text h4 {
		font-size: 16px;
		width: 260px;
		height: 100px;
		line-height: 17px;
	}
	
	.ep-text span {
		position: absolute;
		left: 0;
		margin-top: 13px;
		margin-left: 10px;
		width: 380px;
		font-size: 14px;
	}
	
	.ep-boxes a {
		position: absolute;
		margin-top: 190px;
		margin-left: 300px;
		font-size: 14px;
	}
}

/* 511-549px (530px) */
@media (min-width: 511px) and (max-width: 550px) {
	
	.midsection-episode h3 {
		margin-left: 5%;
		font-size: 20px;
	}
	
	.episode-cont {
		display: grid;
	}
	
	.ep-boxes {
		width: 400px;
		min-height: 220px;
	}
	
	.ep-boxes img {
		max-width: 108px;
		max-height: 108px;
	}
	
	.ep-text h4 {
		font-size: 16px;
		width: 260px;
		height: 100px;
		line-height: 17px;
	}
	
	.ep-text span {
		position: absolute;
		left: 0;
		margin-top: 13px;
		margin-left: 10px;
		width: 380px;
		font-size: 14px;
	}
	
	.ep-boxes a {
		position: absolute;
		margin-top: 190px;
		margin-left: 300px;
		font-size: 14px;
	}
}

/* 550-600px (580px) */
@media (min-width: 550px) and (max-width: 601px) {
	
	.midsection-episode h3 {
		margin-left: 9%;
		font-size: 20px;
	}
	
	.episode-cont {
		display: grid;
	}
	
	.ep-boxes {
		width: 400px;
		min-height: 220px;
	}
	
	.ep-boxes img {
		max-width: 108px;
		max-height: 108px;
	}
	
	.ep-text h4 {
		font-size: 16px;
		width: 260px;
		height: 100px;
		line-height: 17px;
	}
	
	.ep-text span {
		position: absolute;
		left: 0;
		margin-top: 13px;
		margin-left: 10px;
		width: 380px;
		font-size: 14px;
	}
	
	.ep-boxes a {
		position: absolute;
		margin-top: 190px;
		margin-left: 300px;
		font-size: 14px;
	}
}

/* 600-629px (610px) */
@media (min-width: 600px) and (max-width: 630px) {
	
	.midsection-episode h3 {
		margin-left: 11%;
		font-size: 20px;
	}
	
	.episode-cont {
		display: grid;
	}
	
	.ep-boxes {
		width: 400px;
		min-height: 220px;
	}
	
	.ep-boxes img {
		max-width: 108px;
		max-height: 108px;
	}
	
	.ep-text h4 {
		font-size: 16px;
		width: 260px;
		height: 100px;
		line-height: 17px;
	}
	
	.ep-text span {
		position: absolute;
		left: 0;
		margin-top: 13px;
		margin-left: 10px;
		width: 380px;
		font-size: 14px;
	}
	
	.ep-boxes a {
		position: absolute;
		margin-top: 190px;
		margin-left: 300px;
		font-size: 14px;
	}
}

/* 630-650px (650px) */
@media (min-width: 630px) and (max-width: 651px) {
	
	.midsection-episode h3 {
		margin-left: 15%;
		font-size: 20px;
	}
	
	.episode-cont {
		display: grid;
	}
	
	.ep-boxes {
		width: 400px;
		min-height: 220px;
	}
	
	.ep-boxes img {
		max-width: 108px;
		max-height: 108px;
	}
	
	.ep-text h4 {
		font-size: 16px;
		width: 260px;
		height: 100px;
		line-height: 17px;
	}
	
	.ep-text span {
		position: absolute;
		left: 0;
		margin-top: 13px;
		margin-left: 10px;
		width: 380px;
		font-size: 14px;
	}
	
	.ep-boxes a {
		position: absolute;
		margin-top: 190px;
		margin-left: 300px;
		font-size: 14px;
	}
}

/* 651-1024px (768px) */
@media (min-width: 651px) and (max-width: 1023px) {
	
	.midsection-episode h3 {
		margin-left: 80px;
	}
	
	.episode-cont {
		display: grid;
	}
}

/* 1024-1100px (1024px) */
@media (min-width: 1023px) and (max-width: 1100px) {
	.midsection-episode h3 {
		margin-left: 2%;
	}
	
	.ep-boxes {
		flex: 0;
		align-self: stretch;
	}
	
	.ep-boxes img {
		margin-top: 5px;
		max-width: 120px;
		max-height: 120px;
	}
	
	.ep-text {
		width: 220px;
	}
	
	.ep-text h4 {
		font-size: 13px;
	}
	
	.ep-text span {
		font-size: 12px;
	}
	
	.ep-boxes a {
		width: 70px;
		font-size: 12px;
	}
}

/* 1101-1200px (1200px) */
@media (min-width: 1101px) and (max-width: 1200px) {
	.midsection-episode h3 {
		margin-left: 2%;
	}
	
	.ep-boxes {
		flex: 0;
		align-self: stretch;
	}
	
	.ep-boxes img {
		margin-top: 5px;
		max-width: 120px;
		max-height: 120px;
	}
	
	.ep-text {
		width: 240px;
	}
	
	.ep-text h4 {
		font-size: 14px;
	}
	
	.ep-text span {
		font-size: 12px;
	}
	
	.ep-boxes a {
		width: 70px;
		font-size: 12px;
	}
}

/* 1201-1390px (1300px) */
@media (min-width: 1201px) and (max-width: 1390px) {
	.midsection-episode h3 {
		margin-left: 2%;
	}
	
	.ep-boxes {
		flex: 0;
		align-self: stretch;
	}
	
	.ep-boxes img {
		margin-top: 5px;
		max-width: 120px;
		max-height: 120px;
	}
	
	.ep-text {
		width: 310px;
	}
	
	.ep-text span {
		font-size: 13px;
	}
	
	.ep-boxes a {
		width: 80px;
		font-size: 13px;
	}
}

@media (min-width: 1700px) {
	.episode-cont {
		width: 90%;
		margin: 0 auto;
	}
}

@media (min-width: 1850px) {
	.episode-cont {
		width: 85%;
		margin: 0 auto;
	}
}
/******************************************** FOOTER ***********************************************/

.about, .footer{
    font-family: 'Google Sans', sans-serif;
    box-sizing: border-box;
}

.about{
    display: flexbox;
    padding: 64px 200px;
    color: #333333;
}

.about h1{
    font-weight: bold;
}

.about p{
    font-size: 20px;
}

.about a{
    text-decoration: none;
	margin-right: 5px;
	cursor: pointer;
}

.email{
    text-decoration: none;
    color: #4285F4;
}

.footer{
    width: 70%;
    border-top: 1px solid #EAEAEA;
    margin: 0 auto 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #828282;
}

@media screen and (max-width: 1070px){
    .footer{
        display: block;
    }

    .DSC-logo{
        display: block;
        margin: 0 auto;
        padding: 20px 0 0 0;
    }

    .footer p{
        text-align: center;
        font-size: 1rem;
    }
}

@media screen and (max-width: 660px){
    .about{
        padding: 20px 40px;
    }
}

@media screen and (max-width: 500px){
	.footer p{
        text-align: center;
        font-size: 10px;
    }
}

@media screen and (max-width: 425px){
    .footer{
        width: 90%;
    }
}

@media screen and (max-width: 320px){
    .DSC-logo{
        width: 90%;
    }
}

/******************************************** MODAL ***********************************************/
/* default for 320,1024,1440px */

.modal-cover {
	visibility: hidden;
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgb(0,0,0,.85);
	opacity:0;
	-webkit-transition: all ease-in-out .35s;
	-moz-transition: all ease-in-out .35s;
	-ms-transition: all ease-in-out .35s;
	-o-transition: all ease-in-out .35s;
	transition: all ease-in-out .35s;
}

.modal-cover.open {
	visibility: visible;
	opacity: 1;
}

.modal-cont {
	visibility: hidden;
	top: 0;
	right: 0;
	position: fixed;
	height: 100%;
	z-index:999999999999999;
	font-family: google sans;
	margin-right: -100%;
	-webkit-transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	-ms-transition: all ease-in-out .5s;
	-o-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}

.modal-cont.open {
	visibility: visible;
	margin: 0%;
}

.modal-hold {
	width: 320px;
	height: 100vh;
	overflow-y: scroll;
	background: #ffffff;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.modal-hold::-webkit-scrollbar {
	display: none; /*Chrome, Safari and Opera */
}

.modal-coverimg {
	height: 320px;
}

.modal-coverimg img {
	width: 320px;
	height: 320px;
	margin-bottom: 0px;
}

.modal-close:hover {
	filter: invert(45%) sepia(46%) saturate(1044%) hue-rotate(183deg) brightness(100%) contrast(92%);
}

.modal-close #close1,#close2 {
	z-index: 9999999;
	background: #ffffff;
	box-shadow: 0px 4px 6px rgb(220,220,220,.85);
	width: 3px;
	height: 25px;
}

#close1 {
	transform: translate(287px, -308px) rotate(45deg);
}

#close2 {
	transform: translate(287px, -333px) rotate(-45deg)
}

.modal-imgshare img {
	width: 38px;
	height: 38px;
	transform: translate(265px, -110px);
}

.modal-notimgcont { 
	padding: 15px 25px 0px 25px;
}

.modal-text h4 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 15px;
}

.modal-text p {
	margin-top: 3px;
	color: #8c8c8c;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 25px;
}

.modal-player {
	margin-bottom: 15px;
	width: 280px;
	height: 70px;
	border-radius: 5px;
	box-shadow: 0px 4px 2px -2px #e0e0e0;
}

.player-text {
	margin-left: 80px;
	width: 200px;
	height: 70px;
	position: relative;
}

.player-text span {
	color: #8c8c8c;
	font-size: 9px;
	font-weight: bold;
	letter-spacing: 1px;
}

#duration {
	position: absolute;
	right: 10px;
	top: 5px;
}

.player-text p {
	margin-top: 3px;
	margin-bottom: 0px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

.player-img #player-bg {
	height: 70px;
	width: 70px;
	background: #fbbc04;
	border-radius: 5px 0px 0px 5px;
	transform: translateY(-70px);
}

.player-btn #player-btncircle {
	width: 50px;
	height: 50px;
	background: #252525;
	border-radius: 50%;
	transform: translate(10px, -130px);
	cursor: pointer;
}

.player-btn #player-btnsymb {
	width: 0;
    height: 0;
    border-top: 12px solid #252525;
    border-left: 20px solid #f0f0f0;
    border-bottom: 12px solid #252525;
	background: #f0f0f0;
	border-radius: 5px;
	transform: translate(28px, -168px);
	cursor: pointer;
}

#paused {
	display: none;
	position: absolute;
	top: 13.5px;
	left: 16px;
	cursor: pointer;
}

.pause-line {
	display: inline-block;
	width: 7px;
	height: 22px;
	background-color: #f0f0f0;
	border-radius: 2px;
	cursor: pointer;
}

.modal-speaker {
	margin-top: 0px;
}

.modal-speaker h5 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
}

.modal-speaker p {
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	transform: translate(6px, -40px);
}

#speaker-img {
	display: inline-block;
	width: 56px;
	height: 56px;
	border-radius: 50%;
}

.speaker-shareicons {
	width: fit-content;
	transform: translate(65px, -55px);
	margin-top: 10px;
}

.speaker-shareicons svg {
	display: inline-block;
	width: 26px;
	height: 26px;
}

.speaker-shareicons a {
	text-decoration: none;
}


