@font-face{
    font-family: 'Google Sans';
    src: url('../assets/fonts/GoogleSans-Regular-v1.27.ttf');
}

.about, .footer{
    font-family: 'Google Sans', sans-serif;
    box-sizing: border-box;
}

.about{
    display: flexbox;
    padding: 64px 200px;
    border-bottom: 1px solid #EAEAEA;
    color: #333333;
}

.about h1{
    font-weight: bold;
}

.about p{
    font-size: 20px;
}

.social-media-icons:first-child{
    padding-left: 0;
}

.social-media-icons{
    padding: 10px;
}

.email{
    text-decoration: none;
    color: #4285F4;
}

.footer{
    width: 70%;
    border-top: 1px solid #EAEAEA;
    margin: 216px auto 100px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #828282;
}

@media screen and (max-width: 1070px){
    .footer{
        display: block;
    }

    .DSC-logo{
        display: block;
        margin: 0 auto;
        padding: 20px 0 0 0;
    }

    .footer p{
        text-align: center;
        font-size: 1rem;
    }
}

@media screen and (max-width: 660px){
    .about{
        padding: 64px 40px;
    }
}

@media screen and (max-width: 425px){
    .footer{
        width: 90%;
    }
}

@media screen and (max-width: 320px){
    .DSC-logo{
        width: 90%;
    }
}