/* main.css stylesheet: episode (Julia) */

@font-face {
	font-family: Google Sans;
	src: url("fonts/GoogleSans-Regular-v1.27.ttf") format('truetype');
}

.midsection-episode {
	background: #f8f8f8;
	font-family: google sans;
	padding: 50px;
}

.midsection-episode h3 {
	margin-left: 200px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.episode-cont {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}

.ep-boxes {
	display: inline-flex;
	flex-basis: 40%;
	flex-grow: 0;
	max-width: 516px;
	height: auto;
	margin: 15px 0px 0px 15px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 4px 2px -2px #e0e0e0;
	

}

.ep-boxes img {
	max-width: 128px;
	max-height: 128px;
	padding: 6px;
	
	
}

.ep-text {
	margin-top: 0px;
	margin-left: 5px;
	max-width: 285px;
}

.ep-text h4 {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 16px;
	line-height: 20px;
}

.ep-text span {
	max-width: 450px;
	color: #878787;
	font-size: 12px;
	text-align: left;
}

.ep-boxes a {
	margin-top: 120px;
	margin-bottom: 10px;
	margin-right: 8px;
	margin-left: 5px;
	color: #4285f4;
	font-size: 13px;
	text-decoration: none;
	
}

@media (max-width: 769px) {
	
	.midsection-episode h3 {
		margin-left: 80px;
	}
	
	.episode-cont {
		display: grid;
	}
	
	
}