/* main.css stylesheet: episode (Julia) */

@font-face {
	font-family: Google Sans;
	src: url("fonts/GoogleSans-Regular-v1.27.ttf") format('truetype');
}

html {
	background: #000;
}

.midsection-episode {
	background: #f8f8f8;
	font-family: google sans;
	padding: 50px;
}

.midsection-episode h3 {
	text-transform: uppercase;
	font-weight: bold;
}

.box-flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.ep-boxes {
	flex-basis: 40%;
	margin: 15px 0px 0px 15px;
	background: #fff;
	

}

.ep-boxes img {
	display: inline-block;
}

.ep-text {
	display: inline-block;
	border: 1px solid;
}

.ep-text h4 {
	font-size: 16px;
}

.ep-text p {
	max-width: 450px;
	color: #878787;
	font-size: 14px;
	text-align: left;
	
}

.ep-text a {
	float: right;
}